@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&family=Ubuntu:ital,wght@0,400;0,500;1,700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

html{
    scroll-behavior: smooth;
}

/* navbar inicio do site */

.max-width{
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}

.navbar{    
    width: 100%;        
    font-family: 'ubuntu', sans-serif;
    position: fixed;   
    padding: 30px 0;
    transition: all 0.3s ease;
    z-index: 999;
   
}

.navbar.sticky{
    background: #09244d;
    padding: 10px 0;
}

.navbar .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo a{
    color: #fff;
    font-size: 35px;
    font-weight: 500;

} 

.navbar .logo a span{
    color: #0eec3e;
    transition: all 0.3s ease;
    
}

.navbar.sticky .logo a span{
    color: #fff;
}

.navbar .menu li{
    list-style: none;
    display: inline-block;
}

.navbar .menu li a{
        color: #fff;
        font-size: 18px;
        font-weight: 500;
        margin-left: 25px;
        transition: color 0.3s ease;
      
}

.navbar .menu li a:hover{
    color: #0eec3e;
}

.navbar.sticky .menu li a:hover{
    color: #fff;
}

/* home - inicio */

.home{
    display: flex;
    background: url(../img/4.4.jpg);
    background-size: cover;
    height: 100vh;
    color: #fff;
    min-height: 500px;
    font-family: 'ubuntu', sans-serif;
}

.home .max-width{
    margin: auto 0 auto 40px;
    
}

.home .home-content .text-1{
    font-size: 27px;
}

.home .home-content .text-2{
    font-size: 75px;
    font-weight: 500;
    margin-left: -3px;
}

.home .home-content .text-3{
    font-size: 27px;
    margin: 5px 0;
    
}

.home .home-content .text-3 span{
    color: #0eec3e;
    font-weight: 500;
}


/* menu - mobile */

.menu-btn{
    color: #fff;
    font-size: 26px;
    cursor: pointer;
    display: none;

}

.scroll-up-btn{
    position: fixed;
    width: 42px;
    height: 45px;
    right: 30px;
    bottom: 30px;
    text-align: center;
    line-height: 45px;
    color: white;
    background: rgba(241, 35, 8, 0.678);
    border-radius: 30px;
    font-size: 30px;
    z-index: 9999;
    cursor: pointer;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;

}

.scroll-up-btn.show{
    opacity: 1;
    pointer-events: auto;
    bottom: 30px;
}


/* parte sobre */

.services .sobre{
    font-family: 'Roboto', sans-serif;
}
.sobre {
    width: 100%;
    padding: 100px 0px;
    font-family: 'Roboto', sans-serif;
    background-color: #010422;
}

.sobre img{
    height: auto;
    width: 400px;

}


.sobre-texto{
    width: 550px;
  

}

.main{
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.sobre-texto h2{
    color: white;
    font-size: 75px;
    text-transform: capitalize;
    margin-bottom: 20px;

}

.sobre-texto h5{
    color: white;
    letter-spacing: 2px;
    font-size: 22px;
    margin-bottom: 25px;
    text-transform: capitalize;
}

.sobre-texto p{
    color: rgba(241, 35, 8, 0.678);
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 18px;
    margin-bottom: 45px;       
}

button{
    background-color: rgba(241, 35, 8, 0.678);
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 13px 30px;
    border-radius: 30px;
    transition: .4s;
}

button:hover{
    background-color: transparent;
    border: 2px solid rgba(241, 35, 8, 0.678);
    cursor: pointer;
}

.sobre-texto a{
    background-color: rgba(241, 35, 8, 0.678);
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 13px 30px;
    border-radius: 30px;
    transition: .4s ease;
}

.sobre-texto a:hover{
    background-color: transparent;
    border: 2px solid rgba(241, 35, 8, 0.678);
    cursor: pointer;
}

/* area de serviços */

.serviços{
    background: #2a3e99;
    width: 100%;
    padding: 100px 0px;
}

.titulo h2{
    color: white;
    font-size: 75px;
    width: 1130px;
    margin: 30px auto;
    text-align: center;
}   

.box{
    display: flex;
    justify-content: center;
    min-height: 400px;
    
}

.card{
    height: 325px;
    width: 3365px;
    padding: 20px 35px;
    background: #010422;
    border-radius: 20px;
    margin: 15px;
    position: relative;
    overflow: hidden;
    text-align: center;

}

.serviços .box .card {
    transition: all 0.3s ease;

}

.serviços .box .card:hover{
    transform: scale(1.05);
}

.card:hover{
    cursor: pointer;
    transition: all 0.3s ease;
    background: rgb(110, 41, 128);
    
}

.card i{
    font-size: 50px;
    display: block;
    text-align: center;
    margin: 25px 0px;
    color: rgba(219, 23, 23, 0.678);
}


.serviços .box .card:hover i{
    color: #2a3e99;
}

h5{
    color: white;
    font-size: 23px;
    margin-bottom: 15px;
}

/* area de habilidades */
.skills{

    background: #010422;
    width: 100%;
    padding: 130px 0px;
}

.max-width h2{
    color: white;
    font-size: 75px;
    width: 1130px;
    margin: 30px auto;
    text-align: center;
}  

.skills .skills-content{
    display: flex;
    color: white;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.skills .skills-content .column{
    width: calc(50% - 30px);
}

.skills .skills-content .left .text{
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 10px;
}

.skills .skills-content .left p{
    text-align: justify;
}

.skills .skills-content .left a{
    display: inline-block;
    background-color: rgba(241, 35, 8, 0.678);   
    color: white;
    font-size: 18px;
    text-decoration: none;
    font-weight: bold;
    padding: 8px 16px;
    margin-top: 20px;
    border-radius: 30px;
    border: 2px solid transparent;
    transition: .4s;
}

.skills .skills-content .left a:hover{
    cursor: pointer;
    border: 2px solid rgba(241, 35, 8, 0.678);
    background-color: transparent;
}

.skills .skills-content .right .bars{
    margin-bottom: 15px;
}

.skills .skills-content .right .info{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.skills .skills-content .right span{
    font-weight: 500;
    font-size: 18px;
   
}

.skills .skills-content .right .line{
    width: 100%;
    height: 5px;
    background: gray;
    position: relative;
}

.skills .skills-content .right .line::before{
    content: "";
    position: absolute;
    width: 80%;
    height: 100%;
    top: 0;
    left: 0;
    background: red;
}

.skills .skills-content .right .html::before{
    width: 80%;
}

.skills .skills-content .right .css::before{
    width: 70%;
}

.skills .skills-content .right .JavaScript::before{
    width: 50%;
}

.skills .skills-content .right .Python::before{
    width: 45%;
}

.skills .skills-content .right .MySQL::before{
    width: 40%;
}

/* area de contratar */
.pra p{
    color: rgba(241, 35, 8, 0.678);
    font-size: 16px;
    line-height: 27px;
    margin-bottom: 25px;
}

.area-contato{
    width: 100%;
    height: 290px;
    background: #2a3e99;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.area-contato p{
    color: white;
     font-size: 30px;
     font-weight: bold;
     margin-bottom: 25px;
}

.area-contato .botao-2{
    background-color: rgba(241, 35, 8, 0.678);
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 13px 30px;
    border-radius: 30px;
    transition: .4s;

}

.area-contato .botao-2:hover{
    background-color: transparent;
    border: 2px solid rgba(241, 35, 8, 0.678);
    cursor: pointer;
}

footer{
    position: relative;
    width: 100%;
    height: 400px;    
    background: #010422;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

footer p:nth-child(1){
    font-size: 30px;
    color: white;
    margin-bottom: 20px;
    font-weight: bold;

}

footer p:nth-child(2){
    color: white;
    font-size: 17px;
    width: 500px;
    text-align: center;
    line-height: 26px;

}

.social{
    display: flex;
}

.social a{
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(241, 35, 8, 0.678);
    border-radius: 50%;
    margin: 22px 10px;
    color: white;
    text-decoration: none;
    font-size: 20px;
}

.social a:hover{
    transform: scale(1.3);
    transition: .3s;
}

.end{
    position: absolute;
    color: rgba(241, 35, 8, 0.678);
    bottom: 35px;
    font-size: 14px;
}

/* responsivo */
@media (max-width: 1300px){
    .navbar .max-width{
        margin-left: 0;
    }
}

@media (max-width: 1104px){
    .navbar .max-width{
        margin-left: 0;
    }
}
@media (max-width: 991px){
    .navbar .max-width{
        padding: 0 50px;
    }
}

@media (max-width: 947px){
    .max-width{
        max-width: 800px;
        padding: 0 50px;      
    }

    .menu-btn{
        display: block;
        z-index: 999;
    }
    .navbar .menu{
        position: fixed;
        width: 100%;
        height: 100vh;
        left: -100%;
        top: 0;
        background: #111;
        padding-top: 80px;
        text-align: center;
        transition: all 0.3s ease;
    }

    .navbar .menu.active{
        left: 0;
    }

    .navbar .menu li{
        display: block;
    }
    .navbar .menu li a{
        display: inline-block;
        margin: 20px 0;
        font-size: 25px;
    }
    .home .home-content .text-2{
        font-size: 70px;     
    }
    
    .home .home-content .text-3{
        font-size: 35px;
    }

    .home .home-content a{
        font-size: 23px;
        padding: 10px 30px;
    }

    .sobre .sobre-texto{
        width: 50%;
    }

    .serviços .box .card {
        width: calc(50% - 10px);
        margin-bottom: 20px;    
    }

    .skills .skills-content .column{
        width: 100%;
        margin-bottom: 35px;
    }

    .skills .max-width {
        width: 100%;
        display: contents;
        margin-bottom: 35px;
        text-align: center;
    }
}
@media (max-width: 690px){
    .home .home-content .text-2{
        font-size: 60px;     
    }
    
    .home .home-content .text-3{
        font-size: 32px;
    }

    .serviços .box .card {
        width: 100%;
      
    }

    
    .skills .max-width {
        width: 100%;
    }

}

@media (max-width: 500px){
    .home .home-content .text-2{
        font-size: 50px;     
    }
    
    .home .home-content .text-3{
        font-size: 27px;
    }

}

